* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px pink solid; */
  font-family: Impact, 'Arial Black', sans-serif;
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545454;
  gap: 5%;
}

#header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  background-color: #919191;
}

#screen {
  width: 50%;
  height: 30%;
  border: 1vh #919191 solid;
  border-radius: 2vh;
  display: flex;
  min-width: 300px;
  justify-content: space-around;
}

.section,
#info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  justify-content: center;
  font-size: 4vh;
}
#info-section {
  justify-content: space-evenly;
  font-size: 3vh;
}

#player-text,
#computer-text {
  color: #919191;
}

#button-holder {
  width: 50%;
  min-width: 300px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

button {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  background-color: #919191;
  font-size: 2vh;
  border: 0;
}
button:hover {
  border: 8px white solid;
}
button:active {
  border: 8px black solid;
}
