* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px pink solid; */
  font-family: Impact, 'Arial Black', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545454;
}

#header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background-color: #919191;
}

